#knowledgeSharing {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#knowledgeSharing .review-filtering {
  margin: 20px 0 100px 0;
}
#knowledgeSharing .review-filtering .review .review-person {
  width: 100%;
}
#knowledgeSharing .review-filtering .review .review-person img {
  width: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
  height: 110px;
}
#knowledgeSharing .review-filtering .review .review-comment {
  width:100%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding: 5px 40px 20px;
  position: relative;
}
#knowledgeSharing .review-filtering .review .review-comment h3 {
  margin-bottom: 15px;
}
#knowledgeSharing .review-filtering .review .review-comment p {
  font-size: 16px;
  color: #999999;
}
#knowledgeSharing .review-filtering .review .review-comment p span {
  margin-left: 10px;
}
#knowledgeSharing .review-filtering .review .review-comment:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-width: 15px;
  margin-top: -10px;
}
#knowledgeSharing .review-filtering .review .review-person,
#knowledgeSharing .review-filtering .review .review-comment {
  float: left;
}
#knowledgeSharing .review-filtering .slick-dots {
  bottom: -80px;
}
#knowledgeSharing .review-filtering .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#knowledgeSharing .review-filtering .slick-dots li button:before {
  display: none;
}
#knowledgeSharing header {
  color: #ffffff;
}
#knowledgeSharing header h1:after {
  background: #ffffff;
}
#knowledgeSharing .review-filtering .review .review-person img {
  border: 3px solid #ffffff;
}
#knowledgeSharing .review-filtering .review .review-comment {
  background: #ffffff;
}
#knowledgeSharing .review-filtering .review .review-comment h3 {
  color: #66cc99;
}
#knowledgeSharing .review-filtering .review .review-comment p span i {
  color: #66cc99;
}
#knowledgeSharing .review-filtering .review .review-comment:after {
  border-right-color: #ffffff;
}
#knowledgeSharing .review-filtering .slick-dots li button {
  background: #ffffff;
  border: 2px solid #ffffff;
}
#knowledgeSharing .review-filtering .slick-dots li.slick-active button {
  background: #66cc99;
}

#poll .about-item i.fa {
  border: 2px solid #66cc99;
  color: #66cc99;
}
#poll .about-item:hover i.fa {
  color: #ffffff;
  background: #66cc99;
}
#poll .about-item:hover h3 {
  color: #66cc99;
}
#poll .about-item {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #999999;
}
#poll .about-item i.fa {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  padding: 35px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 104px;
}

#poll .review-person {
  width: 100%;
}

#poll .review-person img {
  width: 110px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 10px auto;
  height: 110px;
}

#poll .review-person img {
  border: 3px solid #66CC99;
}
.outer {
  display: table;
  width: 100%;
  height: 100%;
}
.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.centered {
  position: relative;
  display: inline-block;
}

#customers .box .table-striped th {
  text-align: center;
}

#customers .box table {
  color: #333;
}


.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #45ABCD;
}
.notice-info>strong {
    color: #45ABCD;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}